
#about-body {
    font-family: lato, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #fff;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./aboutbanner.jpg');
    background-size: cover;
    color: #ffffff;
    height: 550px;
    text-shadow: 1px 1px 1px #000000;
    z-index: -2;

}

.jumbotron #filter {
    left: 50%;
    height: 550px;
    width: 50%;
    background-color: rgba(3, 2, 20, 0.56);
    opacity: 0.7;
    position: absolute;
    z-index: 0;
}

.jumbotron .about-header {
    padding-top: 150px;
    display: none; 
    float: right;
    margin-right: 30px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}

.jumbotron .btn-tertiary {
    font-size: 18px;
    padding: 7px 9px;
    background-color: #3DBF5B;
    border-color: #3DBF5B;
    color: #fff;
}

.jumbotron .btn-tertiary:hover { 
    background-color: #90918c;
    color: #fff;
}

/* banner spilt */

#banner1 {
    background-color: #3DBF5B;
    padding: 50px;
    margin-top: -30px;
    height: 220px;
}

#banner2 {
    background-color: #3DBF5B;
    padding: 40px;
    margin-top: -110px;
}

.strip-text {
    color: #fff;
    display: none;
}

.contact-btn {
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    padding: 20px 1px 2px 1px;
    border-radius: 0px;
}

.contact-btn:hover {
    color: #fff;
  }

/* first section */

.first-section {
    font-size: 16px;
    font-weight: 450;
    background-color: #fff;
    line-height: 160%;
    margin-top: 0;
}

.first-section h3 {
    color: #16115E;
}

.images-left {
    height: auto;
    width: 90%;
    position: relative;
    margin-left: -24px;
}

.info-right1 {
    vertical-align: middle;
    margin-top: 9%;
}

.inner-box {
    margin-right: -110%;
    margin-left: 120%;
}

.images-right {
    height: auto;
    width: 90%;
    position: relative;
    margin-left: 85px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.inner-box2 {
    margin-right: 125%;
    margin-left: -125%;
} 

.info-left {
    vertical-align: middle;
    margin-top: 9%;
}

.info-right2 {
    vertical-align: middle;
    margin-top: 9%;
}


@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    .jumbotron {
        height: 300px;
    }
    .jumbotron .about-header {
        float: none;
        text-align: center;
        width: 100%;
        background-color: hsla(0, 0%, 3%, 0.6);
        padding: 50px 0px;
        margin-bottom: 0;
    }    
    #filter {
        display: none;
    }
    #banner1 {
        padding: 0;
        margin-top: 0;
    }
    .images-left, .images-right {
        display: block;
        margin: auto;
        text-align: center;
    }
    .image1 {
        margin-top: 10%;
    }
    .first-section h3 {
        font-size: 28px;
    }
    .info-left, .info-right1 {
        display: none;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 10%;
        text-align: center;
        width: 80%;
        font-size: 24px;
        line-height: normal;
        font-weight: 700px;
    }
    .info-right2 {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 10%;
        text-align: center;
        width: 80%;
        font-size: 24px;
        line-height: normal;
        font-weight: 700px;
    }
    .inner-box {
        margin-right: 0;
        margin-left: 0;
    }
    .inner-box2 {
        margin-right: 0;
        margin-left: 0;
    } 
    #order {
        display: flex;
        flex-direction: column;
    }
    .images-right {
        order: 1;
    }
    .info-left{
        order: 2;
    }
}

