* {
    box-sizing: border-box;
  }

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;    
}

header {
  padding: 1.5% 0;
  background-color: #fff;
  overflow: hidden;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

/* nav bar */

header h1 {
  font-weight: 700;
  margin: 0;
}

header .nav-btn {
  padding: 0 20px;
  margin: 0px 8px;
  display: inline-block;
  padding: 6px 14px;
  font-size: 17px;
  border: 1px solid #207994;
  color: #207994;
}

header .nav-btn:hover {
  background-color: #6CA6CD;
  color: #fff;
}

/* Side Call bar */

.sidenav {
  height: 9%; /* 100% Full-height */
  width: 13%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  bottom: 30px;
  right: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow: hidden;
  border-radius: 9%;
  visibility: hidden;
}
.sidenav a {
  display: block;
}
.sidenav img {
  height: 100%;
  width: auto;
}

/* header section */

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('./bannerimage.jpg');
  background-size: cover;
  filter: grayscale(10%);
  color: #ffffff;
  height: 550px;
  text-shadow: 1px 1px 1px #000000;
  position: relative;
}

.jumbotron h2 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .btn-primary {
  font-size: 18px;
  padding: 7px 9px;
  background-color: #18608D;
  border-color: #124F77;
}

section .btn-primary:hover { 
  background-color: #6CA6CD;
  color: #fff;
}

section .btn-secondary {
  font-size: 18px;
  padding: 7px 9px;
  background-color: #18608D;
  border-color: #124F77;
  color: #fff;
}

section .btn-secondary:hover { 
  background-color: #6CA6CD;
  color: #fff;
}

.jumbotron video {
  display:none;
  position: relative;
  margin-right: 50px;
}

/* banner spilt */

#banner-mainpage {
  background-color: #207994;
  padding: 30px;
  margin-top: -30px;
  height: 180px;
}
.strip-text {
  color: #fff;
  display: none;
}

.contact-btn {
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    padding: 20px 1px 2px 1px;
    border-radius: 0px;
}

.contact-btn:hover {
  color: #fff;
}

  /* Icon section */

.first-section {
    background-size: cover;
    margin-bottom: 100px;
    margin-top: 50px;
    overflow: hidden;
}

.first-section h2 {
    color:#11062E;
    font-weight:normal;
    text-align:center;
    margin-bottom:17px;
}

.first-section h2:before,
.first-section h2:after {
    background-color: #333;
    border: solid;
    border-width: 0.8px;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.first-section h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.first-section h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.icons p {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 450;
}

.icons {
    position: center;
    height: auto;
    max-width: 100%;
    padding-top: 60px;
    display: block;
}

.icons .img-responsive {
    width: 40%;
    margin-left: auto;
	  margin-right: auto;
}

.icons .icon-text {
    font-size: 15px;
    padding: 20px 20px;
}
  

/* Services Section */

.second-container {
    background-color: rgb(226, 222, 222);
    padding: 5% 3% 8% 3%;
    overflow: hidden;
}

.second-container .container {
    overflow: hidden;
    padding-bottom: 2%;
}

#services {
    padding-bottom: 20px;
    text-align: center;
    color:#11062E;
    font-weight: 450;
    text-align:center;
    margin-bottom: 2%;
  }

#services:before,
#services:after {
    background-color: #333;
    border: solid;
    border-width: 0.8px;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

#services:before {
    right: 0.5em;
    margin-left: -50%;
}

#services:after {
    left: 0.5em;
    margin-right: -50%;
}

section .cards {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 90%;
    height: auto;
    display: block;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

section .cards:hover {
  box-shadow: 0 4px 8px 0 #6CA6CD;
}

section .row img {
    margin: 0 0 10px;
    width: 100%;
    display: block;
}

.image-container {
    position: relative;
    width: auto;
    height: auto;    
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    transition: .5s ease;
}

.image-container:hover .overlay {
    display: block;
    background: #43494B;
    opacity: 0.8;
}

.cards h4 {
  padding: 0px 0px 10px 10px;
  font-size: 19px;
}

.overlay-text {
    font-weight: 450;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-text p {
    font-size: 15px;
}


/* Testimonials */

.third-container {
  padding: 5% 0 7% 0;
  background-color: #fff;
  overflow: hidden;
}

.third-container .container {
  overflow: hidden;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.third-container h2 {
  color:#11062E;
  font-weight:normal;
  text-align:center;
  margin-bottom:17px;
}

.third-container h2:before,
.third-container h2:after {
  background-color: #333;
  border: solid;
  border-width: 0.8px;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.third-container h2:before {
 right: 0.5em;
 margin-left: -50%;
}

.third-container h2:after {
 left: 0.5em;
 margin-right: -50%;
}

.third-container .block {
  width: 100%;
  padding: 80px 6px 80px 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  display: block;
}

.third-container .test1 {
  padding-right: 7%;
}

.third-container .test2 {
  padding-left: 7%;
}

.block .photo{
  margin-right:6px;
  position:relative;
}

.block .photo img{
  max-width:125px;
  max-height:125px;
  overflow:hidden;
  position:absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.2); 
  border: solid;
  border-color: #207994;
  border-width: 4px;
}

.block p.content{
  font-style:italic;
  line-height:24px;
  padding-left:19px;
  margin-left:121px;
  position:relative;
  overflow:hidden;
  font-size: 16px;
  font-weight: 410;
  color: #000;
}

.block p.content span.laquo{
  background: url(img/laquo.png) no-repeat;
  width:14px;
  height:11px;
  position:absolute;
  left:0;
  top:4px;
  display:block;
}

.block p.content span.raquo{
  background: url(img/raquo.png) no-repeat right 4px;
  width:13px;
  height:15px;
  padding-left: 20px;
  display:inline-block;
}

.block .sign{
  text-align:right;
  float:right;
}

.block .sign a{
  color:#1BA176;
  font-size:16px;
  text-decoration: none;
  font-weight: 500;
}

.block .sign a:hover{
  text-decoration: underline;
}

.block .sign p{
  color: rgb(122, 121, 124);
  font-size:15px;
  font-weight: 450;  
  line-height:15px;
  margin-top:6px;
}

/* footer */

footer {
  font-size: 17px;
  font-weight: 450;
  padding: 1% 5%;
  background-color: #313844;
  color: #fff;
  overflow: hidden;
}

footer .links {
  margin: 4% 0 0 0; 
}

footer a {
  color: #fff;
  padding: 0% 4%;
}

footer a:hover {
  color: #fff;
}

footer img {
  width: 70px;
  height: 70px;
  margin: 2% -3% 2% -3%;
}

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
  
  header .nav-btn, section .btn-primary, section .btn-secondary {
    font-size: 32px;
    padding: 12px;
    border: 2px solid;
  }
  .sidenav {
    visibility: visible;
  }
  .jumbotron .homepage-header {
    background-color: hsla(0, 0%, 3%, 0.6);
    padding: 50px 0px;
  }
  .jumbotron h2 {
    font-size: 100px;
  }
  h2 {
    font-size: 60px;
  }
  .jumbotron h3 {
    font-size: 40px;
  }
  #banner-mainpage {
    background-color: #207994;
    margin-top: -30px;
    height: 250px;
  }
  .strip-text h3 {
    font-size: 40px; 
  }
  .strip-text a {
    color: #fff;
    font-size: 40px; 
  }
  .contact-btn {
    padding-top: 30px;
  }
  .icons h4, .third-container h4 {
    font-size: 45px;
  }
  .icons {
    display: block;
    margin: auto;
    text-align: center;
  }
  .icons .icon-text {
    font-size: 40px;
  }
  #services .cards {
    display: block;
    margin: auto;
    text-align: center;
  }
  .cards h4 {
    font-size: 40px;
  }
  .cards .overlay-text {
    font-size: 40px;
  }
  .third-container .block {
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
  }
  .photo img {
    width: 400px;
    height: 400px;
  }
  .block {
    display: flex;
  }
  .block p.content {
    font-size: 30px;
    line-height: normal;
    font-weight: 700px;
    overflow: visible;
  }
  .block .sign a, .block .sign p {
    font-size: 30px;
    font-weight: 700px;
  }
  header, footer {
    font-size: 35px;
    font-weight: 500px;
  }
  footer img {
    width: 120px;
    height: 120px;
  }

}
