* {
    box-sizing: border-box;
  }
  
body { 
    background: #5EAABE;
}

/* navigation desgin */

.topnav {
    background-color: #21254E;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#bannerimage {
    width: 100%;
    background-image: url(https://cdn2.hubspot.net/hubfs/578555/hastings-beach-property-investment.jpg);
    height: 300px;
    background-color: #F3EFF3;
    background-position: center;
  }

#bannerimage h1 {
    position: relative;
    top: 50px;
    margin: 0 auto;
  }

h1 {
    color: maroon;
}

.body-image {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}

.cursive {
    font-family: Georgia;
}
.capitalize {
    text-transform: capitalize;
}

.title {
    color: firebrick;
}



